$green-400: #007F0E ;
$link-color: $green-400 ;

.ombra {
  -webkit-box-shadow: 0px 0px 25px 2px #000000;
  -moz-box-shadow: 0px 0px 25px 2px #000000;
  -o-box-shadow: 0px 0px 25px 2px #000000;
  box-shadow: 0px 0px 25px 2px #000000;
}
